

header {

    background-color: blueviolet;
    width: 100%;
    font-weight: bold;
    font-style: italic;
    
}

footer {


background-color: blue;

}

body {

    border: 500px;
}